{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Perfil| Docente</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="{% static 'InscripcionCandidatos/css/resume.css' %}" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'InscripcionCandidatos/css/Button.css' %}" media="all" />

</head>

<body>

<div id="doc2" class="yui-t7">
	<br> <br>
	<center><img src="{% static 'InscripcionCandidatos/Imagenes/Logos.png' %}" alt=""></center>
	
	<div id="inner">
		{% if Docente %}
			<div id="hd">
				<div class="yui-gc">
					<div class="yui-u first">
						<h1>{{ Docente.Nombre }} {{ Docente.ApellidoPaterno}} {{ Docente.ApellidoMaterno}}</h1>
						<h2>Docente, {{Docente.Rfc}}</h2>
					</div>
	
					<div class="yui-u">
						<div class="contact-info">
							<h3><a id="pdf" href="{% url 'InscripcionCandidatos:Logout'%}">Cerrar Sesion</a></h3>

							<h3>{{Docente.Email}}</h3>
							<br>
							<h3>{{Docente.Curp}}</h3>
							<br>
							<h3>7444292412</h3>
						</div><!--// .contact-info -->
					</div>
				</div><!--// .yui-gc -->
			<br><br><br><br>

			</div><!--// hd -->
			<br><br><br><br><br><br><br><br>
		{% else %}
				    <span class="login100-form-title p-b-33">
				        Problemas
				    </span>
		{% endif %}
		
		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					
				
				{% if ListaRequisitos %}
				<div class="yui-gf">
					<h2>Lista de Requisitos</h2>
				</div> 
				        {% for requisito in ListaRequisitos %}
						<form action="{% url 'InscripcionCandidatos:UploadFile' %}" method="post" enctype="multipart/form-data" >
							{% csrf_token %}
                        <div class="yui-gf">
						<div class="yui-u first">
							{% if requisito.estatus == statusN %}
							{% else %}
								<h2></h2>
								<button class="button button4" type="submit">Calificar</button>
							{% endif %}
					   </div>

					  

						<div class="yui-u">

							<div class="talent">
								<h2>Requisito</h2>
								{% if requisito.estatus == statusA%}
								<p>{{requisito.requisito}}</p>
								{% else %}
								<a style="text-decoration:none" href="{% url 'InscripcionCandidatos:Subir' requisito.id %}"><p>{{requisito.requisito}}</p></a>
								{% endif %}
						   </div>
								<div class="talent">
									<h2>Estatus</h2>
									<p>{{requisito.estatus}}</p>
								</div>

								

								<div class="talent">
									<h2>Observaciones</h2>
									<p>{{ requisito.observaciones }}</p>
								</div>

								
								
						</div>
					    </div><!--// .yui-gf -->
					</form>
					    {% endfor %}
				    
				
				{% else %}
				    <span class="login100-form-title p-b-33">
				       Problemas
				    </span>
				{% endif %}


				<br><br><br><br><br><br><br><br><br><br><br>
					
                



					  
				{% if listaalumnocurso %}
				<div class="yui-gf">
					<h2>Lista de Alumnnos</h2>
				</div> 
				        {% for Alumno in listaalumnocurso %}
						
						<form action="{% url 'InscripcionCandidatos:Curso' %}" method="post" enctype="multipart/form-data" >
							{% csrf_token %}
                        <div class="yui-gf">
						<div class="yui-u first">
							
					   </div>

						<div class="yui-u">

								

								<div class="talent">
									<h2>Alumno</h2>
									<p>{{Alumno.aspirante}}</p>
								</div>

								

								<div class="talent">
									<h2>Calificacion</h2>
									<input value="{{ Alumno.Calificacion }}" name="calificacion" type="number">
									
								</div>

								<div class="talent">
									<input type="hidden" name="id" value="{{ Alumno.id }}">
									<button class="button button5" type="submit">Calificar</button>
								</div>

								

								
								

								
								
						</div>
					    </div><!--// .yui-gf -->
					    </form>
					    {% endfor %}
				    
				
				{% else %}
				    <span class="login100-form-title p-b-33">
				       Problemas
				    </span>
				{% endif %}
			
					


					<div class="yui-gf last">
						<br><br><br><br>
					</div><!--// .yui-gf -->

					<h3><a id="pdf" href="#">Subir PDF.</a></h3>
				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

